// SASS compiled to CSS by webpack

$pathPrefix: '/PlaylistCRUD';
$backgroundColor: #000000;
$textColor: #ffffff;

// ----- Define variables above this line -----

body {
  background: $backgroundColor;
  color: $textColor;
  font-family: serif;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  border: 0;
}

td {
  padding: 1em 2em 0;
  text-align: center;
}

small {
  display: block;
}

/* Deprecated parts / kept as reference / example code

ul {
  list-style-image: url('#{$pathPrefix}/source/images/dummy.gif');
}
*/