// SASS compiled to CSS by webpack

$pathPrefix: '/PlaylistCRUD';
$primaryColor: #C5C0A3;

// ----- Define variables above this line -----

body {
  background: $primaryColor;
  color: black;
}

table {
  border: none;
}

/* Deprecated parts / kept as reference / example code

ul {
  list-style-image: url('#{$pathPrefix}/source/images/dummy.gif');
}
*/